<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
    1. Download SVG icon : http://tabler-icons.io/i/home
    2. Navigation Bar 틀
        HOME : 기본 버튼
        PRODUCT : 토글 기능이 추가된 버튼(1 depth 와 2 depth 를 나누는 방법은 자유롭게)
-->
<!-- TODO 0 : 관리자용 또는 사용자용으로 카테고리 항목 구분하기 -->
<body th:fragment="fragment-nav-bar">
<div class="navbar-expand-md">
    <div class="collapse navbar-collapse" id="navbar-menu" th:data-url="${@environment.getProperty('yesaladin.front.url')}">
        <div class="navbar navbar-light">
            <div class="container-xl">
                <ul id="header-list" class="navbar-nav fs-3">
                    <!-- TODO 1 : HOME  -->
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                     viewBox="0 0 24 24"
                                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                     stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <polyline points="5 12 3 12 12 3 21 12 19 12"/>
                                    <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/>
                                    <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/>
                                </svg>
                            </span>
                            <span class="nav-link-title">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/products">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-books" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M5 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1zm4 -1m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1zm-4 3h4m0 8h4m.803 -11.44l2.184 -.53c.562 -.135 1.133 .19 1.282 .732l3.695 13.418a1.02 1.02 0 0 1 -.634 1.219l-.133 .041l-2.184 .53c-.562 .135 -1.133 -.19 -1.282 -.732l-3.695 -13.418a1.02 1.02 0 0 1 .634 -1.219l.133 -.041zm.197 4.44l4 -1m-2 8l3.923 -.98"></path>
                            </svg>
                            <span class="nav-link-title">전체 도서</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    let dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
    let dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
        return new bootstrap.Dropdown(dropdownToggleEl)
    })
    const parentCategories = [];
    const categories = {};
    const ids = [];

    const navBar = document.getElementById("navbar-menu");
    const innerCategoryUrl = `${navBar.getAttribute("data-url")}/api/categories`;
    // window.onload = function () {
    //     setCategoryHeaderList();
    // };
    window.addEventListener('DOMContentLoaded', (event) => {
        setCategoryHeaderList();
        displayChildCategories();
    });

    //TODO async - await 공부 후 설명 필요
    async function setCategoryHeaderList() {

        try {
            if (parentCategories.length === 0) {
                // TODO 데이터 존재하므로 다시 fetch 할 필요 없음
                let data = await getParentCategories();
                data.forEach(c => {
                    if (c.isShown) {
                        parentCategories.push(c);
                    }
                });
            }

            const headerList = document.getElementById("header-list");
            for (let i = 0; i < parentCategories.length; i++) {
                const id = parentCategories[i].id;
                ids.push(id);
                const name = parentCategories[i].name;

                const list = document.createElement("li");
                const button = document.createElement("a");
                const buttonName = document.createElement("span");

                buttonName.classList.add("nav-link-title");
                buttonName.setAttribute("value", id);
                buttonName.textContent = name;


                button.classList.add("nav-link");
                button.classList.add("dropdown-toggle");
                button.setAttribute("data-bs-auto-close", "outside");
                button.setAttribute("role", "button");
                button.setAttribute("aria-expanded", "false");
                button.href = `#navbar-base`;
                button.appendChild(buttonName);


                const menu = document.createElement("div");
                const menuColumns = document.createElement("div");

                menuColumns.classList.add("dropdown-menu-columns");
                menuColumns.id = `menu-col-${id}`;
                menu.classList.add("dropdown-menu");
                menuColumns.id = `menu-${id}`;

                list.classList.add("nav-item");
                list.classList.add("dropdown");
                list.appendChild(button);
                list.appendChild(menu);

                headerList.appendChild(list);

                list.addEventListener('mouseover', hoverCategory());
                list.addEventListener('mouseout',mouseOutCategory())
            }
        } catch (err) {
            console.error(err);
            alert("카테고리 목록을 불러올 수 없습니다.");
        }

    }

    async function displayChildCategories() {
        for (const id of ids) {
            const menu = document.getElementById(`menu-${id}`);
            const menuColumns = document.getElementById(`menu-col-${id}`);

            try {
                if (!categories[id]) {
                    categories[id] = await getChildCategoriesByParentId(id);
                }
                let shownCategories = [];
                categories[id].forEach(c => {
                    if (c.isShown) {
                        shownCategories.push(c);
                    }
                });
                console.log(shownCategories);
                arrangeCategoryChildrenHeader(shownCategories, menuColumns, menu);
            } catch (err){
                console.error(err);
                alert("2차 카테고리 목록을 불러올 수 없습니다.");
            }
        }

    }

    function getParentCategories() {
        const responsePromise = fetch(innerCategoryUrl + "?cate=parents", {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
            }
        });
        return responsePromise.then((resp) => resp.json());
    }

    function getChildCategoriesByParentId(parentId) {
        const responsePromise = fetch(`${innerCategoryUrl}/${parentId}?cate=children`, {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
            }
        });
        return responsePromise.then((resp) => resp.json());
    }

    function arrangeCategoryChildrenHeader(childrenData, menuColumns, menu) {
        let size = 10;
        let offset = (childrenData.length % size) === 0 ? 0 : 1;
        let term = Math.floor(childrenData.length / size) + offset;
        for (let i = 0; i < term; i++) {
            let start = size * i;
            let last = Math.min(start + size, childrenData.length);
            const menuColumn = document.createElement("div");
            menuColumn.classList.add("dropdown-menu-column");
            for (let j = start; j < last; j++) {
                const innerButton = document.createElement("a");
                innerButton.classList.add("dropdown-item");
                //TODO 카테고리 별 조회 리스트 페이지로 넘겨야함
                innerButton.href = "#"; //"상품페이지url/{categoryId}"
                innerButton.text = childrenData[j].name;

                menuColumn.style.fontSize = "14px"
                menuColumn.appendChild(innerButton);
            }
            menuColumns.appendChild(menuColumn);
            menu.appendChild(menuColumns);
        }
    }

    function hoverCategory() {
        return function (event) {
            const target = event.currentTarget;
            const aTag = target.children[0];
            const divTag = target.children[1];
            aTag.classList.toggle("show");
            if (aTag.classList.contains("show")) {
                aTag.setAttribute("aria-expanded", "true");
                divTag.classList.add("show");
                divTag.setAttribute("data-bs-popper", "none");
            } else {
                aTag.setAttribute("aria-expanded", "false");
                divTag.classList.remove("show");
                divTag.removeAttribute("data-bs-popper");
            }
        };
    }

    function mouseOutCategory() {
        return function (event) {
            const target = event.currentTarget;
            const aTag = target.children[0];
            const divTag = target.children[1];
            if (!aTag.classList.contains("show")) {
                aTag.setAttribute("aria-expanded", "false");
                divTag.classList.remove("show");
                divTag.removeAttribute("data-bs-popper");
            } else {
                aTag.classList.remove("show")
                aTag.setAttribute("aria-expanded", "false");
                divTag.classList.remove("show");
                divTag.removeAttribute("data-bs-popper");
            }
        };
    }
</script>
<script>
    window.addEventListener('DOMContentLoaded', function()
    {
        const li = document.getElementsByClassName('nav-item');
        for (let i = 0; i < li.length; i++) {
            const item = li.item(i);
            if (item.classList.contains('active')) {
                item.classList.remove('active');
            }
            if (item.firstElementChild.href === window.location.href.split('?')[0]) {
                item.classList.add('active');
            }
        }
    });
</script>
</body>


</html>
