<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="paging(url, queryParam)" >
<div class="card-footer d-flex align-items-center">
  <ul class="pagination m-0 ms-auto"
      th:with="start=${(currentPage/5)*5 + 1},
                    last=(${start + 4 < totalPage ? start + 4 : totalPage})">
    <li class="page-item" th:classappend="${currentPage < 5 ? 'disabled' : ''}">
      <a class="page-link"
         th:href="@{${url} + '?page=' + ${(currentPage / 5 - 1) * 5 + 1} + ${queryParam}}"
         tabindex="-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
             stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <polyline points="15 6 9 12 15 18"></polyline>
        </svg>
        prev
      </a>
    </li>
    <li class="page-item" th:each="num: ${#numbers.sequence(start, last)}"
        th:classappend="${currentPage + 1 == num ? 'disabled': ''}">
      <a class="page-link" th:href="@{${url} + '?page=' + ${num} + ${queryParam}}"
         th:text="${num}"></a>
    </li>
    <li class="page-item"
        th:classappend="${currentPage / 5 == (totalPage - 1) / 5 ? 'disabled' : ''}">
      <a class="page-link"
         th:href="@{${url} + '?page=' + ${(currentPage / 5 + 1) * 5 + 1} + ${queryParam}}">
        next
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
             stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <polyline points="9 6 15 12 9 18"></polyline>
        </svg>
      </a>
    </li>
  </ul>
</div>
</body>
</html>