<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Yes Aladin!</title>
  <!-- CSS files -->
  <link th:href="@{/css/tabler.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/tabler-flags.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/tabler-payments.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/tabler-vendors.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/demo.min.css}" rel="stylesheet"/>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>

<!-- Tabler Core -->
<script type="text/javascript" th:src="@{/js/tabler.min.js}"></script>
<script type="text/javascript" th:src="@{/js/demo.min.js}"></script>
<script src="https://js.tosspayments.com/v1/payment"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<div class="wrapper">
  <!-- TODO 1 : HEADER -->
  <div th:replace="~{common/fragments/header :: fragment-header}"></div>

  <!-- TODO 2 : NAV-BAR -->
  <div th:replace="~{common/fragments/navbar :: fragment-nav-bar}"></div>
  <div class="page-wrapper">
    <div class="container-xxl py-4 col-12">
      <!-- 주문서 Header -->
      <div class="row row-cards">
        <div class="col-12">
          <div class="text-center mb-4">
            <h1 class="h-auto">주문서</h1>
          </div>
        </div>
      </div>
      <!-- 주문서 Body -->
      <div class="row row-cards">
        <!-- 주문서 Detail -->
        <div class="col-9">
          <!-- 주문서 Step -->
          <div class="card card-md">
            <div class="card-body p-0">
              <ul class="steps steps-blue steps-counter m-2">
                <li class="step-item">카트</li>
                <li class="step-item active">주문</li>
                <li class="step-item">결제</li>
                <li class="step-item">완료</li>
              </ul>
            </div>
          </div>
          <!-- 주문서 Main -->
          <div class="card card-md">
            <div class="card-body">
              <!-- 주문인/수령인 정보 입력 -->
              <div class="row">
                <!-- 주문인 정보 입력 -->
                <div class="col-6">
                  <h3 class="card-title">주문인 정보 입력</h3>
                  <div class="card card-md">
                    <div class="card-body p-2">
                      <label class="form-label required">주문인 이름</label>
                      <!--                      TODO 주문인 이름 검증-->
                      <input class="form-control" id="orderer-name"
                             type="text" placeholder="홍길동" name="ordererName"
                             th:readonly="${info.name != null}" th:value="${info.name}"
                             maxlength="20" onkeydown="blockEnter()">
                      <label class="form-label required mt-2">전화번호</label>
                      <!--                      TODO 주문인 전화번호 검증-->
                      <input class="form-control" id="orderer-phone-number"
                             type="tel" placeholder="띄어쓰기 없이 붙여주세요."
                             th:readonly="${info.phoneNumber != null}" maxlength="11"
                             name="ordererPhoneNumber" th:value="${info.phoneNumber}"
                             title="올바른 전화번호 형식이 아닙니다." oninvalid="validation(event)"
                             oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    </div>
                  </div>
                </div>
                <!-- 수령인 정보 입력 -->
                <div class="col-6">
                  <h3 class="card-title">
                    수령인 정보 입력
                    <!-- 주문인과 동일시 시키는 버튼 -->
                    <span class="float-end text-muted">
                        <small>주문인과 동일</small>
                        <input id="recipient-check-box" class="form-check-input" type="checkbox">
                      </span>
                  </h3>
                  <div class="card card-md">
                    <div class="card-body p-2">
                      <label class="form-label required">수령인 이름</label>
                      <input type="text" class="form-control" id="recipient-name"
                             name="recipientName" value=""
                             placeholder="홍길동" minlength="1" maxlength="20">
                      <label class="form-label required mt-2">전화번호</label>
                      <input type="text" class="form-control" id="recipient-phone-number"
                             name="recipientPhoneNumber" value=""
                             maxlength="11" autocomplete="off" placeholder="띄어쓰기 없이 붙여주세요."
                             oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    </div>
                  </div>
                </div>
              </div>
              <br/>
              <!-- 배송지 정보 입력 -->
              <h3 class="card-title">배송 정보 입력</h3>
              <div class="card card-md">
                <div class="card-body">
                  <!-- 배송 정보 Header -->
                  <div class="row mb-2 h-auto">
                    <div class="col-9">
                      <label class="form-label required d-inline">
                        주소
                      </label>
                    </div>
                    <div class="col-3">
                      <a sec:authorize="isAuthenticated()"
                         class="btn btn-outline-primary btn-modal btn-sm w-full"
                         data-bs-toggle="modal" data-bs-target="#modal-report">
                        배송지 선택
                      </a>
                      <a sec:authorize="!isAuthenticated()" type="button"
                         class="btn btn-outline-secondary btn-sm float-end d-inline"
                         onclick="getAddress(false);">
                        우편번호 찾기
                      </a>
                    </div>
                  </div>
                  <!-- 배송 정보 Body -->
                  <div class="card-body p-0">
                    <div class="row w-full ms-0">
                      <div class="col-3 ps-0">
                        <input type="text" class="form-control" id="orderer-post-address"
                               name="ordererPostAddress" placeholder="우편번호" readonly
                               th:value="${info.hasDefaultAddress() && info.getDefaultAddress() != null ? info.getDefaultAddress().getPostAddress() : ''}">
                      </div>
                      <div class="col-9 ps-0 pe-0">
                        <input type="text" class="form-control" id="orderer-road-address"
                               name="ordererRoadAddress" placeholder="도로명 주소" readonly
                               th:value="${info.hasDefaultAddress() && info.getDefaultAddress() != null ? info.getDefaultAddress().getRoadAddress() : ''}">
                      </div>
                    </div>
                    <input type="text" class="form-control mt-1" id="orderer-detail-address"
                           name="ordererDetailAddress" placeholder="상세 주소" maxlength="190"
                           th:value="${info.hasDefaultAddress() && info.getDefaultAddress() != null ? info.getDefaultAddress().getDetailAddress() : ''}">
                  </div>
                  <label class="form-label d-lg-inline float-start mt-2">희망배송날짜</label>
                  <input class="form-control mb-2" id="datepicker"
                         type="date" name="expectedShippingDate"
                         th:value="${#dates.format(#calendars.createNow(), 'yyyy-MM-dd')}"
                         th:min="${#calendars.format( #calendars.createNow(), 'yyyy-MM-dd')}"
                         required>
                  <span class="form-check-description text-end">미선택시 가장 가까운 날로 배송될 예정입니다.</span>
                </div>
              </div>
            </div>
            <!-- 상품 정보 -->
            <div class="card-body">
              <h3 class="card-title">주문 상품 정보</h3>
              <div class="card card-md">
                <div class="table-responsive">
                  <input type="hidden" name="orderProducts"
                         th:value="${info.getProductOrderRequest()}">
                  <table class="table table-vcenter scrollable scroll-x">
                    <thead>
                    <tr>
                      <th class="w-1"></th>
                      <th>상품명</th>
                      <th>가격</th>
                      <th>적립예정포인트</th>
                      <th>수량</th>
                      <th>총 가격</th>
                      <th>쿠폰 적용</th>
                    </tr>
                    </thead>
                    <tbody th:each="product:${info.orderProducts}">
                    <input type="hidden" th:id="${'order-product-' + productStat.index}"
                           th:value="${product}">
                    <tr>
                      <td class="text-center" th:text="${productStat.index + 1}"></td>
                      <td class="text-left">
                        <small class="text-muted" th:text="|[상품번호 : ${product.isbn}]|"></small>
                        <input type="hidden"
                               th:id="${'order-product-isbn-' + productStat.index}"
                               th:value="${product.isbn}">
                        <div
                            style="text-overflow: ellipsis; width: 350px; white-space: nowrap; overflow: hidden"
                            th:text="${product.title}"></div>
                      </td>
                      <td class="text-center">
                        <del class="fs-6"
                             th:text="${#numbers.formatInteger(product.actualPrice, 1, 'COMMA')}">
                        </del>
                        <span class="text-danger"
                              th:id="${'order-product-amount-' + productStat.index}"
                              th:text="${#numbers.formatInteger(product.getSalePrice(), 1, 'COMMA')}">
                          </span>
                      </td>
                      <td class="text-center">
                        <div sec:authorize="isAuthenticated()"
                             th:id="${'order-product-save-point-' + productStat.index}"
                             th:text="${#numbers.formatInteger(product.expectedPoint * product.quantity, 1, 'COMMA')}">
                        </div>
                        <input style="display: none"
                               th:id="${'order-product-save-point-amount-' + productStat.index}"
                               name="savePoint"
                               th:value="${product.expectedPoint * product.quantity}">
                        <div sec:authorize="!isAuthenticated()">
                          <small>적립불가</small>
                        </div>
                      </td>
                      <td class="text-center"
                          th:id="${'order-product-quantity-' + productStat.index}"
                          th:text="${product.quantity}">
                      </td>
                      <td class="text-center">
                        <div th:id="${'order-product-total-amount-' + productStat.index}"
                             th:text="${#numbers.formatInteger(product.getSalePrice() * product.quantity, 1, 'COMMA')}"></div>
                        <div class="fw-bold text-danger"
                             th:id="${'member-coupon-applied-amount-' + productStat.index}">
                        </div>
                      </td>
                      <td class="text-center">
                        <!--회원 : 쿠폰 사용 -->
                        <div sec:authorize="isAuthenticated()" style="width: fit-content;">
                          <button class="btn btn-outline-secondary btn-sm float-end"
                                  th:id="${'member-coupon-button-' + productStat.index}"
                                  type="button"
                                  th:onclick="|openCouponModal(${productStat.index})|">
                            쿠폰 적용
                          </button>
                          <button type="button" class="btn btn-outline-danger btn-sm float-end"
                                  th:id="${'member-coupon-button-cancel-' + productStat.index}"
                                  hidden="hidden" th:onclick="|cancelCoupon(${productStat.index})|">
                            쿠폰 취소
                          </button>
                        </div>
                        <!--비회원-->
                        <small sec:authorize="!isAuthenticated()">사용불가</small>
                      </td>
                    </tr>
                    <tr type="hidden"
                        th:id="${'member-coupon-applied-group-' + productStat.index}">
                      <td></td>
                      <td colspan="6"
                          th:id="${'member-coupon-applied-coupon-' + productStat.index}">
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="float-end">
                결제 예상 금액 :
                <span id="expected-total-amount">0</span>
                원(쿠폰 할인 금액 제외)
              </div>
              <div th:replace="~{common/utils/success :: custom-success}"></div>
            </div>
            <!--포인트 할인 -->
            <div sec:authorize="isAuthenticated()" class="card-body">
              <h3 class="card-title">포인트</h3>
              <div class="form-group row">
                <div class="col text-end">
                  - <input class="form-control form-control-sm w-auto"
                           style="display: inline" name="usePoint"
                           id="point-applied-amount" value="0" type="text"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                           onchange="pointOverCheck(this)"> 원
                </div>
                <small class="float-end" style="color: #c13333" id="point-alert"
                       hidden="hidden">
                  값을 입력해주세요.
                </small>
                <small style="float:right;" class="form-hint text-end">
                  사용가능한 포인트 :
                  <span id="member-point" type="text" th:text="${info.point}"></span>
                  원 (1000원 단위로 사용가능)
                </small>
              </div>
            </div>
          </div>
        </div>
        <!-- 주문서 Summary-->
        <div class="col-3">
          <div class="sticky-top">
            <div class="card card-md">
              <div class="card-body">
                <h1 class="card-title text-center">
                  영수증
                </h1>
                <div class="hr-text">상품 금액</div>
                <div sec:authorize="isAuthenticated()" class="row text-end">
                  <small>쿠폰 : <span id="coupon"></span></small>
                </div>
                <div sec:authorize="isAuthenticated()" class="row text-end">
                  <small>포인트 : <span id="point"></span></small>
                </div>
                <h3 class="card-title">
                  <input type="hidden" name="productActualTotalAmount"
                         th:value="${info.getTotalProductAmount()}">
                  총 상품 금액
                  <span style="float: right">원</span>
                  <input class="d-none" id="total-product-amount-hidden"
                         name="productTotalAmount" value="0">
                  <span style="float: right" id="total-product-amount">0</span>
                </h3>
                <div class="hr-text">결제 금액</div>
                <div class="row text-end mb-1">
                  <input type="hidden" id="shipping-fee-hidden" name="shippingFee">
                  <small>배달비 : <span id="shipping-fee"></span> 원</small>
                </div>
                <div class="row text-end">
                  <small class="float-end d-inline">
                    <label class="form-check form-switch d-inline">
                      <input type="hidden" id="wrapping-fee-hidden" name="wrappingFee" value="0">
                      <input class="form-check-input m-auto" id="wrapping-check" type="checkbox">
                    </label>
                    포장비 : 3,000원
                  </small>
                </div>
                <br/>
                <h3 class="card-title">
                  총 결제 금액
                  <span style="float: right">원</span>
                  <span style="float: right" id="total-payment-amount">0</span>
                </h3>
                <div class="mt-2">
                  <button sec:authorize="isAuthenticated()" class="btn btn-primary w-100"
                          onclick="memberOrder()">
                    주문서 작성 완료
                  </button>
                  <button sec:authorize="!isAuthenticated()"
                          type="button" onclick="nonMemberOrder();"
                          id="non-member-order" class="btn btn-primary w-100">
                    비회원 주문서 작성 완료
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TODO 4 : footer -->
<div th:replace="~{common/fragments/footer :: fragment-footer}"></div>

<!--배송지 Modal-->
<div sec:authorize="isAuthenticated()" class="modal modal-blur fade" id="modal-report"
     tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- 배송지 Header -->
      <div class="modal-header">
        <h5 class="modal-title">배송지 선택</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <!-- 배송지 Body -->
      <div class="modal-body text-center">
        <small class="form-label">
          새로운 배송지를 선택하고 싶다면
          <strong>등록 버튼</strong>
          을 클릭하여 새로운 배송지를 등록한 후 사용해주시길 바랍니다.
        </small>
        <div hidden="hidden" class="col-12 mb-1" id="member-address-template">
          <div class="row p-0" style="height: fit-content">
            <div class="col-11 col-sm-10 ps-0">
              <label class="form-selectgroup-item">
                <input type="radio" class="form-selectgroup-input" name="ordererAddressId" checked
                       id="member-address-template-input" value="">
                <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1"
                            id="member-address-template-label"></span>
                    </span>
                  </span>
              </label>
            </div>
            <div class="col-1 col-sm-2 p-0">
              <a class="btn btn-outline-danger h-full w-full" id="member-address-template-cancel">
                삭제
              </a>
            </div>
          </div>
        </div>
        <div class="form-selectgroup-boxes row mb-3 overflow-auto"
             id="member-addresses-group" style="height: 250px;">
          <div class="col-12 mb-1" th:id="|member-addresses-${address.id}|"
               th:each="address:${info.memberAddress}">
            <div class="row p-0" style="height: fit-content">
              <div class="col-11 col-sm-10 ps-0">
                <label class="form-selectgroup-item">
                  <input type="radio" class="form-selectgroup-input"
                         th:id="|orderer-address-id-${address.id}|"
                         name="ordererAddressId" th:value="${address.id}"
                         th:checked="${info.getDefaultAddress() != null && address.id == info.getDefaultAddress().id}">
                  <span class="form-selectgroup-label d-flex align-items-center p-3"
                        th:classappend="${info.getDefaultAddress() != null && address.id == info.getDefaultAddress().id ? 'border-dark' : ''}">
                      <span class="me-3">
                        <span class="form-selectgroup-check"></span>
                      </span>
                      <span class="form-selectgroup-label-content">
                        <span class="form-selectgroup-title strong mb-1"
                              th:id="|orderer-address-${address.id}|"
                              th:text="${address.address}"></span>
                      </span>
                    </span>
                </label>
              </div>
              <div class="col-1 col-sm-2 p-0">
                <a class="btn btn-outline-danger h-full w-full"
                   th:onclick="|deleteAddress(${address.id})|">
                  삭제
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="mt-0 mb-1">
      <!-- 배송지 Footer -->
      <div class="modal-footer" id="member-address-footer">
        <div class="row w-full ms-0 me-0">
          <div class="col-3 ps-0 pe-0">
            <button type="button" class="btn btn-info link-secondary w-full"
                    onclick="openAddressForm()">
              등록
            </button>
          </div>
          <div class="col-6"></div>
          <div class="col-3 ps-0 pe-0">
            <button type="button" class="btn btn-primary ms-auto w-full" onclick="setAddress()">
              선택
            </button>
          </div>
        </div>
      </div>
      <!-- 배송지 등록 Form-->
      <div class="modal-body" id="member-address-form" hidden="hidden">
        <h5 class="modal-title">새로운 배송지 등록</h5>
        <div class="card-body p-0">
          <div class="row w-full ms-0" onclick="getAddress(true)">
            <div class="col-3 ps-0">
              <input type="text" class="form-control" id="member-address-form-post"
                     placeholder="우편번호" readonly>
            </div>
            <div class="col-9 ps-0 pe-0">
              <input type="text" class="form-control" id="member-address-form-road"
                     placeholder="도로명 주소" readonly>
            </div>
          </div>
          <div class="row w-full ms-0 mt-1 mb-2">
            <input type="text" class="form-control" id="member-address-form-detail"
                   placeholder="상세 주소">
          </div>
          <div class="row w-full ms-0">
            <div class="col-3 ps-0">
              <button type="button" class="btn btn-outline-muted link-secondary w-full"
                      onclick="closeAddressForm()">
                취소
              </button>
            </div>
            <div class="col-9 ps-0 pe-0 float-end">
              <button type="button" class="btn btn-primary link-secondary w-full"
                      onclick="createAddress()">
                새로운 배송지 등록
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--쿠폰 Modal-->
<div sec:authorize="isAuthenticated()" class="modal modal-blur fade" id="coupon-modal"
     tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- 쿠폰 Header -->
      <div class="modal-header">
        <h5 class="modal-title">사용가능한 쿠폰 목록</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <!-- 쿠폰 Body -->
      <div class="modal-body">
        <!-- 상품 정보 -->
        <div class="row w-full mb-3">
          <div class=" border-1 border-muted">
            <span th:text="${info.orderProducts.get(0).title}"></span>
          </div>
        </div>
        <hr class="my-2">
        <div class="row w-full mb-2">
          <!-- 일반 쿠폰-->
          <div class="form-selectgroup-boxes col-6"
               id="member-coupon-common-group" style="height: 300px;">
            <div class="form-label">일반 쿠폰</div>
            <div id="member-coupon-common" style="overflow-y: scroll; height: 280px"></div>
          </div>
          <div class="form-selectgroup-boxes col-6"
               id="member-coupon-duplicate-group" style="height: 300px;">
            <div class="form-label">중복 쿠폰</div>
            <div id="member-coupon-duplicate" style="overflow-y: scroll; height: 280px;"></div>
          </div>
        </div>
        <hr class="my-2">
        <div class="row w-full mb-2">
          <div class="col-6">예상 할인 금액</div>
          <div class="col-6 text-end text-danger fw-bold" id="expected-coupon-applied-amount"
               th:text="${0}"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="member-coupon-use-button" type="button"
                class="btn btn-primary h-full w-full" onclick="useCoupon()">사용
        </button>
      </div>
      <div th:replace="~{common/fragments/alert :: custom-alert}"></div>
    </div>
  </div>
</div>

<div hidden="hidden" class="row w-full mb-1" style="height: fit-content"
     id="member-coupon-common-template">
  <label class="form-selectgroup-item">
    <input type="radio" class="form-selectgroup-input" name="couponCode"
           id="member-coupon-common-code">
    <div class="form-selectgroup-label w-full align-items-center text-start p-3">
      <div class="form-selectgroup-label-content">
        <div class="row w-full">
          <div class="col-12 form-selectgroup-title fs-3 strong mb-1"
               id="member-coupon-common-name"></div>
        </div>
        <div class="row w-full">
          <small class="col-12 form-label-description text-danger"
                 id="member-coupon-common-expire-date"></small>
        </div>
      </div>
      <hr class="my-1">
      <div class="form-selectgroup-label-content">
        <div class="row w-full">
          <small class="form-label-description col-6"
                 id="member-coupon-common-min-order-amount"></small>
          <small class="form-label-description col-6" type="hidden"
                 id="member-coupon-common-max-order-amount"></small>
        </div>
      </div>
    </div>
  </label>
</div>
<div hidden="hidden" class="col-12 mb-1" id="member-coupon-duplicate-template">
  <label class="form-selectgroup-item">
    <input type="checkbox" class="form-selectgroup-input" name="duplicateCouponCode"
           id="member-coupon-duplicate-code">
    <div class="form-selectgroup-label w-full align-items-center text-start p-3">
      <div class="form-selectgroup-label-content">
        <div class="row w-full">
          <div class="col-12 form-selectgroup-title fs-3 strong mb-1"
               id="member-coupon-duplicate-name"></div>
        </div>
        <div class="row w-full">
          <small class="col-12 form-label-description text-danger"
                 id="member-coupon-duplicate-expire-date"></small>
        </div>
      </div>
      <hr class="my-1">
      <div class="form-selectgroup-label-content">
        <div class="row w-full">
          <small class="form-label-description col-6"
                 id="member-coupon-duplicate-min-order-amount"></small>
          <small class="form-label-description col-6" type="hidden"
                 id="member-coupon-duplicate-max-order-amount"></small>
        </div>
      </div>
    </div>
  </label>
</div>
<div hidden="hidden" class="w-full" id="member-coupon-applied-template">
  <svg xmlns="http://www.w3.org/2000/svg"
       class="icon icon-tabler icon-tabler-chevron-down-left" width="24"
       height="24" viewBox="0 0 24 24" stroke-width="2"
       stroke="currentColor" fill="none" stroke-linecap="round"
       stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M8 8v8h8"></path>
  </svg>
  <small class="text-info" id="member-coupon-text"></small>
  <input id="member-coupon-input" name="orderCoupons">
</div>
<div
    class="justify-content-center align-items-center"
    id="loading"
    style="height: 100%; width: 100%; position: absolute; left: 0; bottom: 0; background-color: #ffffff77; display: none">
  <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
</body>
<!--//TODO restController를 통한 회원 주문시, js코드에 추가해야함-->
<div class="d-none" id="isNotEspeciallyBuy" th:data-type="${type == null} ? 'nothing' : 'one' "></div>


<script>
  function blockEnter(event) {
    if(event.code === "Enter") {
      event.preventDefault();
      event.focus(false);
    }
  }
</script>
<!--쿠폰 관련 함수-->
<script th:inline="javascript">
  let selectProduct;
  const memberCoupons = [[${info.memberCoupons}]];
  let memberCouponStatus = new Map(memberCoupons.map(i => [i.couponCode, false]));

  const memberCouponCommonTemplate = document.getElementById("member-coupon-common-template");
  const memberCouponDuplicateTemplate = document.getElementById("member-coupon-duplicate-template");
  const memberCouponAppliedTemplate = document.getElementById("member-coupon-applied-template");

  const memberCouponCommon = document.getElementById("member-coupon-common");
  const memberCouponDuplicate = document.getElementById("member-coupon-duplicate");

  function createCommonCouponTemplate(i) {
    const newCouponTemplate = memberCouponCommonTemplate.cloneNode(true);

    newCouponTemplate.querySelector(
        "#member-coupon-common-code").value = memberCoupons[i].couponCode;
    newCouponTemplate.querySelector("#member-coupon-common-name").innerText = memberCoupons[i].name;
    newCouponTemplate.querySelector(
        "#member-coupon-common-expire-date").innerText = memberCoupons[i].expireDate.toString()
        + " 까지 사용가능";
    newCouponTemplate.querySelector(
        "#member-coupon-common-min-order-amount").innerHTML = getStrongName("최소주문금액 ",
        memberCoupons[i].minOrderAmount);
    if (memberCoupons[i].couponTypeCode == "FIXED_RATE") {
      newCouponTemplate.querySelector(
          "#member-coupon-common-max-order-amount").innerHTML = getStrongName("최대할인금액 ",
          memberCoupons[i].maxDiscountAmount);
      newCouponTemplate.querySelector("#member-coupon-common-max-order-amount").hidden = false;
    }
    newCouponTemplate.hidden = false;
    return newCouponTemplate;
  }

  function createDuplicateCouponTemplate(i) {
    const newCouponTemplate = memberCouponDuplicateTemplate.cloneNode(true);

    newCouponTemplate.querySelector(
        "#member-coupon-duplicate-code").value = memberCoupons[i].couponCode;
    newCouponTemplate.querySelector(
        "#member-coupon-duplicate-name").innerText = memberCoupons[i].name;
    newCouponTemplate.querySelector(
        "#member-coupon-duplicate-expire-date").innerText = memberCoupons[i].expireDate.toString()
        + " 까지 사용가능";
    newCouponTemplate.querySelector(
        "#member-coupon-duplicate-min-order-amount").innerHTML = getStrongName("최소주문금액 ",
        memberCoupons[i].minOrderAmount);
    if (memberCoupons[i].couponTypeCode == "FIXED_RATE") {
      newCouponTemplate.querySelector(
          "#member-coupon-duplicate-max-order-amount").innerHTML = getStrongName("최대할인금액 ",
          memberCoupons[i].maxDiscountAmount);
      newCouponTemplate.querySelector("#member-coupon-duplicate-max-order-amount").hidden = false;
    }

    newCouponTemplate.hidden = false;
    return newCouponTemplate;
  }

  function createAppliedCouponTemplate(couponCode, couponName, discountPrice, index) {
    const newCouponTemplate = memberCouponAppliedTemplate.cloneNode(true);

    newCouponTemplate.querySelector("#member-coupon-input").value = couponCode;
    newCouponTemplate.querySelector("#member-coupon-input").hidden = true;

    const productTotalAmount = parseInt(document.getElementById(
        "order-product-total-amount-" + index).innerText.replace(/\D/g, ''));
    const couponAppliedAmount = document.createElement('input');
    couponAppliedAmount.name = "couponAppliedAmount";
    couponAppliedAmount.value = productTotalAmount - parseInt(discountPrice);
    couponAppliedAmount.style.display = 'none';

    newCouponTemplate.querySelector("#member-coupon-text").innerText = couponName;
    newCouponTemplate.hidden = false;
    newCouponTemplate.id = "member-coupon-applied-" + couponCode;
    newCouponTemplate.append(couponAppliedAmount);

    return newCouponTemplate;
  }

  function getStrongName(description, target) {
    return description + '<span class="strong">' + target.toLocaleString() + '</span>' + '원';
  }

  function addIntoMemberCouponCommon(i, product) {
    //쿠폰 적용범위
    if (memberCoupons[i].couponBoundCode == 'ALL') { //all
      memberCouponCommon.appendChild(createCommonCouponTemplate(i));
    } else if (memberCoupons[i].couponBoundCode === 'CATEGORY') { //category
      if (product.categories == memberCoupons[i].couponBound) {
        memberCouponCommon.appendChild(createCommonCouponTemplate(i));
      }
    } else { //isbn
      if (product.isbn == memberCoupons[i].couponBound) {
        memberCouponCommon.appendChild(createCommonCouponTemplate(i));
      }
    }
  }

  function addIntoMemberCouponDuplicate(i, product) {
    //쿠폰 적용범위
    if (memberCoupons[i].couponBoundCode == 'ALL') { //all
      memberCouponDuplicate.appendChild(createDuplicateCouponTemplate(i));
    } else if (memberCoupons[i].couponBoundCode == 'CATEGORY') { //category
      if (product.categories == memberCoupons[i].couponBound) {
        memberCouponDuplicate.appendChild(createDuplicateCouponTemplate(i));
      }
    } else { //isbn
      if (product.isbn == memberCoupons[i].couponBound) {
        memberCouponDuplicate.appendChild(createDuplicateCouponTemplate(i));
      }
    }
  }

  function openCouponModal(index) {
    selectProduct = index;

    const product = document.getElementById("order-product-" + index).value;
    const productTotalAmount = document.getElementById(
        "order-product-total-amount-" + index).innerText.replace(/\D/g, '');

    memberCouponCommon.innerHTML = "";
    memberCouponDuplicate.innerHTML = "";

    for (let i = 0; i < memberCoupons.length; i++) {
      if (memberCouponStatus.get(memberCoupons[i].couponCode) ||
          memberCoupons[i].minOrderAmount > productTotalAmount) {
        continue;
      }
      //중복 가능 여부에 따라 추가하는 장소 변경
      if (memberCoupons[i].canBeOverlapped) { //일반 쿠폰
        addIntoMemberCouponCommon(i, product);
      } else {  //중복 쿠폰
        addIntoMemberCouponDuplicate(i, product);
      }
    }
    $('#coupon-modal').modal('show');
  }

  function useCoupon() {
    const isbn = document.getElementById("order-product-isbn-" + selectProduct).value;
    const quantity = document.getElementById("order-product-quantity-" + selectProduct).innerText;

    const couponCodeCommon = document.getElementsByName("couponCode");
    let couponCode = "";
    if (couponCodeCommon.length != 0 && couponCodeCommon[0].checked) {
      couponCode = couponCodeCommon[0].value;
    }

    const couponCodeDuplicate = document.getElementsByName("duplicateCouponCode");
    let duplicateCouponCode = [];
    if (couponCodeDuplicate != null) {
      for (let i = 0; i < couponCodeDuplicate.length; i++) {
        if (!couponCodeDuplicate[i].checked) {
          continue;
        }
        duplicateCouponCode.push(couponCodeDuplicate[i].value);
      }
    }

    if (couponCode == "" && duplicateCouponCode.length == 0) {
      writeContentToAlert("쿠폰을 선택해주세요.");
      return;
    }

    const params = new URLSearchParams({
      isbn: isbn,
      quantity: quantity,
      couponCode: couponCode,
      duplicateCouponCode: duplicateCouponCode
    })

    fetch(`/api/orders/coupons?` + params.toString(), {
      method: "GET",
      headers: {
        "Content-Type": "application/json"
      }
    }).then((resp) => {
      return resp.json();
    }).then((data) => {
      document.getElementById("member-coupon-applied-amount-"
          + selectProduct).innerText = data.discountPrice.toLocaleString();
      document.getElementById("order-product-save-point-"
          + selectProduct).innerText = data.expectedPoint.toLocaleString();
      document.getElementById(
          "order-product-save-point-amount-" + selectProduct).value = data.expectedPoint;
      for (let i = 0; i < data.memberCoupons.length; i++) {
        memberCouponStatus.set(data.memberCoupons[i], true);

        document.getElementById("member-coupon-applied-coupon-" + selectProduct).appendChild(
            createAppliedCouponTemplate(data.memberCoupons[i], data.memberCouponNames[i],
                data.discountPrice, selectProduct));
      }
      document.getElementById("member-coupon-applied-group-" + selectProduct).hidden = false;
      writeContentToSuccess("쿠폰이 적용되었습니다.");
    }).then(() => {
      document.getElementById("member-coupon-button-" + selectProduct).hidden = true;
      document.getElementById("member-coupon-button-cancel-" + selectProduct).hidden = false;

      $('#coupon-modal').modal('hide');

      setProductTotalPrice();
    })
  }
  function cancelCoupon(index) {
    const couponList = document.getElementById("member-coupon-applied-coupon-" + index);

    const couponCodeList = couponList.querySelector("input[name='orderCoupons']");
    for (let i = 0; i < couponCodeList.length; i++) {
      memberCouponStatus.set(couponCodeList[i].value, false);
    }
    couponList.innerHTML = "";

    document.getElementById('member-coupon-button-cancel-' + index).hidden=true;
    document.getElementById('member-coupon-button-' + index).hidden=false;

    setProductTotalPrice();
  }
</script>
<!--배송지 관련 함수-->
<script th:inline="javascript">
  const frontUrl = [[${@environment.getProperty('yesaladin.front.url')}]];
  const socketUrl = [[${@environment.getProperty('yesaladin.gateway.socket')}]];
  const SOCKET_PATH = '/ws';

  const addressModal = document.getElementById("modal-report");
  const memberAddressForm = document.getElementById("member-address-form");
  const memberAddressFooter = document.getElementById("member-address-footer");
  const memberAddressFormPost = document.getElementById("member-address-form-post");
  const memberAddressFormRoad = document.getElementById("member-address-form-road");
  const memberAddressFormDetail = document.getElementById("member-address-form-detail");

  const memberAddressGroup = document.getElementById("member-addresses-group");
  const memberAddressTemplate = document.getElementById("member-address-template");

  function openAddressForm() {
    memberAddressFooter.hidden = true;
    memberAddressForm.hidden = false;
  }

  function closeAddressForm() {
    memberAddressFooter.hidden = false;
    memberAddressForm.hidden = true;
  }

  function setAddress() {
    const ordererAddressId = document.getElementsByName("ordererAddressId");
    for (let i = 0; i < ordererAddressId.length; i++) {
      if (ordererAddressId[i].checked === true) {
        let id = ordererAddressId[i].value;
        let ordererAddress = document.getElementById("orderer-address-" + id);
        const addresses = ordererAddress.innerText.split("/");

        ordererPostAddress.value = addresses[0];
        ordererRoadAddress.value = addresses[1];
        ordererDetailAddress.value = addresses[2];

        document.getElementsByName("memberAddressId").value = id;

        bootstrap.Modal.getInstance(addressModal).hide();

        return;
      }
    }
    alert("주소를 선택해주세요.");
  }

  async function deleteAddress(id) {
    const defaultAddress = [[${info.hasDefaultAddress() ? info.getDefaultAddress(): null}]];
    if (defaultAddress != null && id == defaultAddress.id) {
      alert("대표 배송지는 삭제가 불가능합니다. 마이페이지에서 수정해주세요.");
      return;
    }

    await fetch(`${frontUrl}/api/address/${id}`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      }
    }).then((resp) => {
      return resp.json();
    }).then((data) => {
      if (!data) {
        alert("배송지 삭제에 실패하였습니다.");
        return;
      }
      const memberAddress = document.getElementById("member-addresses-" + id);
      memberAddress.remove();
    })

  }

  async function createAddress() {
    const postAddress = memberAddressFormPost.value;
    const roadAddress = memberAddressFormRoad.value;
    const detailAddress = memberAddressFormDetail.value;
    if (postAddress == "" || roadAddress == "" || detailAddress == "") {
      alert("주소를 입력해주세요.");
      return;
    }
    let promise = fetch(`${frontUrl}/api/address`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        postAddress: postAddress,
        roadAddress: roadAddress,
        detailAddress: detailAddress,
        isDefault: false
      })
    }).then((resp) => {
      return resp.json();
    });

    try {
      await promise.then((data) => {
        if (!data.success) {
          alert(data.errorMessages);
          return;
        }
        const addressData = data.data;
        const addressId = addressData.id;
        const address = addressData.address;
        const newMemberAddress = memberAddressTemplate.cloneNode(true);

        newMemberAddress.hidden = false;
        newMemberAddress.id = "member-addresses-" + addressId;
        newMemberAddress.querySelector("#member-address-template-input").id = "orderer-address-id-"
            + addressId;
        newMemberAddress.querySelector("#member-address-template-label").innerText = address;
        newMemberAddress.querySelector("#member-address-template-label").id = "orderer-address-"
            + addressId;
        newMemberAddress.querySelector("#member-address-template-cancel").addEventListener("click",
            () => deleteAddress(addressId));
        memberAddressGroup.append(newMemberAddress);

        closeAddressForm();
      })
    } catch (e) {
      console.log(e.message)
    }
  }
</script>

<!--주문 금액 변경 시 반영하는 함수-->
<script th:inline="javascript">
  document.addEventListener("DOMContentLoaded", () => {
    setExpectedTotalPrice();
  });

  document.querySelectorAll('input').forEach(input => {
    input.addEventListener("invalid", () => {
      document.forms[0].classList.add('is-invalid');
      this.setCustomValidity(this.errorText);
    })
  })

  function setExpectedTotalPrice() {
    var size = [[${info.orderProducts.size}]];
    var sum = 0;
    for (let i = 0; i < size; i++) {
      sum += parseInt(
          document.getElementById("order-product-total-amount-" + i).innerText.replace(/\D/g, ''));
    }
    document.getElementById("expected-total-amount").innerText = sum.toLocaleString();

    setProductTotalPrice();
  }

  function setProductTotalPrice() {
    let totalPrice = parseInt(
        document.getElementById("expected-total-amount").innerText.replace(/\D/g, ''));

    const shippingFeeHidden = document.getElementById("shipping-fee-hidden");

    const shippingFee = document.getElementById("shipping-fee");
    if (totalPrice >= 30000) {
      shippingFeeHidden.value = 0;
      shippingFee.innerText = "0";
    } else {
      shippingFeeHidden.value = 3000;
      shippingFee.innerText = (3000).toLocaleString();
      totalPrice += 3000;
    }

    const pointAppliedAmount = document.getElementById("point-applied-amount");
    if (pointAppliedAmount != null) {
      let couponTotalAppliedAmount = 0;
      const couponAppliedAmount = document.getElementsByName("couponAppliedAmount");
      for (let i = 0; i < couponAppliedAmount.length; i++) {
        couponTotalAppliedAmount += parseInt(couponAppliedAmount[i].value);
      }
      totalPrice -= (couponTotalAppliedAmount + parseInt(pointAppliedAmount.value));
      document.getElementById("point").innerText = parseInt(
          pointAppliedAmount.value).toLocaleString();
      document.getElementById("coupon").innerText = couponTotalAppliedAmount.toLocaleString();

    }
    document.getElementById("total-product-amount").innerText = totalPrice.toLocaleString();
    document.getElementById("total-product-amount-hidden").value = totalPrice;

    setPaymentTotalPrice();
  }

  function setPaymentTotalPrice() {
    const totalPaymentPrice = document.getElementById("total-payment-amount");

    const totalProductPrice = parseInt(
        document.getElementById("total-product-amount").innerText.replace(/\D/g, ''));


    const wrappingFeeHidden = document.getElementById("wrapping-fee-hidden");

    var totalPrice = 0;

    // if (totalProductPrice >= 30000) {
    //   shippingFeeHidden.value = 0;
    //   shippingFee.innerText = "0";
    // } else {
    //   shippingFeeHidden.value = 3000;
    //   shippingFee.innerText = (3000).toLocaleString();
    //   totalPrice += 3000;
    // }
    totalPrice += Number(wrappingFeeHidden.value) + totalProductPrice;

    totalPaymentPrice.innerText = totalPrice.toLocaleString();
  }
</script>

<!--버튼 이벤트 관련 함수-->
<script th:inline="javascript">
  // "주문인과 동일" 버튼 이벤트
  document.getElementById("recipient-check-box").addEventListener('change', (event) => {
    const orderer = document.getElementById("orderer-name");
    const ordererPhoneNumber = document.getElementById("orderer-phone-number");

    const recipient = document.getElementById("recipient-name");
    const recipientPhoneNumber = document.getElementById("recipient-phone-number");

    if (event.currentTarget.checked) {
      if (orderer.value === "" || ordererPhoneNumber.value === "") {
        alert("주문인의 정보를 먼저 입력해주시길 바랍니다.")
        event.currentTarget.checked = false;
        return;
      }
      recipient.value = orderer.value;
      recipientPhoneNumber.value = ordererPhoneNumber.value;

      recipient.readOnly = true;
      recipientPhoneNumber.readOnly = true;
    } else {
      recipient.readOnly = false;
      recipientPhoneNumber.readOnly = false;
    }
  })
  // "포장" 버튼 이벤트
  document.getElementById("wrapping-check").addEventListener('change', function () {
    const wrappingFeeHidden = document.getElementById("wrapping-fee-hidden");

    if (this.checked) {
      this.text = wrappingFeeHidden.value = 3000;
    } else {
      this.text = wrappingFeeHidden.value = 0;
    }
    setPaymentTotalPrice();
  });
</script>

<!-- 검사 -->
<script th:inline="javascript">
  function pointOverCheck(e) {
    const alert = document.getElementById("point-alert");
    const expectedTotalAmount = parseInt(
        document.getElementById("expected-total-amount").innerText.replace(/\D/g, ''));
    const userPoint = [[${info.point}]];

    let curPoint = parseInt(e.value);

    alert.hidden = e.value !== "";
    if (curPoint > userPoint) {
      curPoint = userPoint;
    }
    if (curPoint > expectedTotalAmount) {
      curPoint = expectedTotalAmount;
    }
    e.value = Math.floor(curPoint / 1000) * 1000;

    setProductTotalPrice();
  }
</script>

<!-- 주문 -->
<script th:inline="javascript">
  const expectedShippingDateDoc = document.getElementById("datepicker");
  const ordererNameDoc = document.getElementById("orderer-name");
  const ordererPhoneNumberDoc = document.getElementById("orderer-phone-number");
  const recipientNameDoc = document.getElementById("recipient-name");
  const recipientPhoneNumberDoc = document.getElementById("recipient-phone-number");
  const ordererPostAddress = document.getElementById("orderer-post-address");
  const ordererRoadAddress = document.getElementById("orderer-road-address");
  const ordererDetailAddress = document.getElementById("orderer-detail-address");

  const shippingFeeDoc = document.getElementById("shipping-fee-hidden");
  const wrappingFeeDoc = document.getElementById("wrapping-fee-hidden");
  const totalProductPrice = document.getElementById("total-product-amount");

  const shopUrl = [[${@environment.getProperty('yesaladin.gateway.shop')}]];

  function tryGetOrdererAddressId() {
    const ordererAddressIdDoc = document.getElementsByName("ordererAddressId");

    for (let i = 0; i < ordererAddressIdDoc.length; i++) {
      if (ordererAddressIdDoc[i].checked === true) {
        return ordererAddressIdDoc[i].value;
      }
    }
    return null;
  }

  function tryGetOrderCoupons() {
    const orderCouponsDoc = document.getElementsByName("orderCoupons");

    const orderCoupons = [];
    for (let i = 0; i < orderCouponsDoc.length; i++) {
      let item = orderCouponsDoc[i].value;
      if (!isEmpty(item)) {
        orderCoupons.push(item);
      }
    }
    return orderCoupons;
  }

  function tryGetSavePoint() {
    const savePointDoc = document.getElementsByName("savePoint");

    let savePoint = 0;
    for (let i = 0; i < savePointDoc.length; i++) {
      savePoint += savePointDoc[i].value;
    }
    return savePoint;
  }



  async function memberOrder() {
    let type = document.getElementById("isNotEspeciallyBuy").dataset["type"];

    const usePointDoc = document.getElementsByName("usePoint");

    const recipientName = recipientNameDoc.value;
    const recipientPhoneNumber = recipientPhoneNumberDoc.value;
    let ordererAddressId = tryGetOrdererAddressId();
    if (ordererAddressId == null) {
      alert("배송지를 선택해주세요.");
      return;
    }
    console.log(ordererAddressId)
    if (!orderCheck(this)) {
      return;
    }
    const expectedShippingDate = expectedShippingDateDoc.value;
    const orderProducts = [[${info.getProductOrderRequest()}]];
    const productTotalAmount = parseInt(totalProductPrice.innerText.replace(/\D/g, ''));
    const shippingFee = parseInt(shippingFeeDoc.value);
    const wrappingFee = parseInt(wrappingFeeDoc.value);
    const orderCoupons = tryGetOrderCoupons();
    const usePoint = usePointDoc.value;
    const savePoint = tryGetSavePoint();

    //TODO 웹소켓 오픈

    let url = `${frontUrl}/api/orders/member`;
    if (type === "one") {
      url = `${frontUrl}/api/orders/member?type=one`;
    }
    await fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        expectedShippingDate: expectedShippingDate,
        orderProducts: orderProducts,
        productTotalAmount: productTotalAmount,
        shippingFee: shippingFee,
        wrappingFee: wrappingFee,
        recipientName: recipientName,
        recipientPhoneNumber: recipientPhoneNumber,
        ordererAddressId: ordererAddressId,
        orderCoupons: orderCoupons,
        usePoint: usePoint,
        savePoint: savePoint
      })
    }).then((resp) => {
      return resp.json();
    }).then((data) => {
      const requestId = data.data.requestId;
      if (!isEmpty(requestId)) {
        console.log("requestId is not null")
        showLoadingScreen();
        openSocket(requestId, recipientName, recipientPhoneNumber, expectedShippingDate, data,
            productTotalAmount,
            shippingFee, wrappingFee);
        return;
      }
      console.log("requestId is null")
      processingForPay(recipientName, recipientPhoneNumber, expectedShippingDate, data, productTotalAmount,
          shippingFee, wrappingFee);
    });
  }

  function isEmpty(str){
    if(typeof str == "undefined" || str == null || str == "")
      return true;
    else
      return false ;
  }

  function processingForPay(recipientName, recipientPhoneNumber, expectedShippingDate, data,
      productTotalAmount, shippingFee, wrappingFee) {
    const ordererName = ordererNameDoc.value;
    const ordererPhoneNumber = ordererPhoneNumberDoc.value;
    const address = [ordererPostAddress.value, ordererRoadAddress.value,
      ordererDetailAddress.value].join("/");
    const productAmount = [[${info.getTotalProductAmount()}]];
    const params = {
      ordererName: ordererName,
      ordererPhoneNumber: ordererPhoneNumber,
      recipientName: recipientName,
      recipientPhoneNumber: recipientPhoneNumber,
      recipientAddress: address,
      recipientExpectedDate: expectedShippingDate,
      orderNumber: data.data.orderNumber,
      productAmount: productAmount,
      discountAmount: productAmount - productTotalAmount,
      shippingFee: shippingFee,
      wrappingFee: wrappingFee,
      orderName: data.data.orderName,
      totalAmount: productTotalAmount + shippingFee + wrappingFee
    }
    let searchParams = new URLSearchParams(params);
    window.location.href = `${frontUrl}/payments/pay?${searchParams.toString()}`;
  }

  async function nonMemberOrder() {
    const expectedShippingDate = expectedShippingDateDoc.value;
    const orderProducts = [[${info.getProductOrderRequest()}]];
    const productTotalAmount = parseInt(totalProductPrice.innerText.replace(/\D/g, ''));
    const shippingFee = parseInt(shippingFeeDoc.value);
    const wrappingFee = parseInt(wrappingFeeDoc.value);
    const recipientName = recipientNameDoc.value;
    const recipientPhoneNumber = recipientPhoneNumberDoc.value;

    const ordererName = ordererNameDoc.value;
    const ordererPhoneNumber = ordererPhoneNumberDoc.value;
    const address = [ordererPostAddress.value, ordererRoadAddress.value,
      ordererDetailAddress.value].join("/");

    if (!orderCheck(this)) {
      return;
    }

    await fetch(`${shopUrl}/v1/orders/non-member`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        expectedShippingDate: expectedShippingDate,
        orderProducts: orderProducts,
        productTotalAmount: productTotalAmount,
        shippingFee: shippingFee,
        wrappingFee: wrappingFee,
        recipientName: recipientName,
        recipientPhoneNumber: recipientPhoneNumber,
        ordererName: ordererName,
        ordererPhoneNumber: ordererPhoneNumber,
        ordererAddress: address
      })
    }).then((resp) => {
      return resp.json();
    }).then((data) => {
      if (!data.success) {
        alert(data.errorMessages.toString());
      } else {
        const productAmount = [[${info.getTotalProductAmount()}]];
        const params = {
          ordererName: ordererName,
          ordererPhoneNumber: ordererPhoneNumber,
          recipientName: recipientName,
          recipientPhoneNumber: recipientPhoneNumber,
          recipientAddress: address,
          recipientExpectedDate: expectedShippingDate,
          orderNumber: data.data.orderNumber,
          productAmount: productAmount,
          discountAmount: productAmount - productTotalAmount,
          shippingFee: shippingFee,
          wrappingFee: wrappingFee,
          orderName: data.data.orderName,
          totalAmount: productTotalAmount + shippingFee + wrappingFee
        }
        let searchParams = new URLSearchParams(params);
        window.location.href = `${frontUrl}/payments/pay?${searchParams.toString()}`;
      }
    });
  }

  function orderCheck(e) {
    const telRegex = new RegExp(/^01([0|1])\d{4}\d{4}$/);
    const address = [ordererPostAddress.value, ordererRoadAddress.value,
      ordererDetailAddress.value].join("/");

    //1.입력값유효성검사
    if (ordererNameDoc.value == ""
        || ordererPhoneNumberDoc.value == ""
        || recipientNameDoc.value == ""
        || recipientPhoneNumberDoc.value == ""
        || ordererPostAddress.value == ""
        || ordererRoadAddress.value == ""
        || ordererDetailAddress.value == ""
    ) {
      alert("필요한 정보를 전부 입력해주세요.");
      return false;
    }
    if (!telRegex.test(ordererPhoneNumberDoc.value)) {
      alert("주문인에 유효한 전화번호를 입력해주세요.");
      return false;
    }
    if (!telRegex.test(recipientPhoneNumberDoc.value)) {
      alert("수령인에 유효한 전화번호를 입력해주세요.");
      return false;
    }
    if (address.length > 255) {
      alert("주소가 너무 깁니다.");
      return false;
    }
    return true;
  }
</script>
<!--다음 주소지 API-->
<script>
  function getAddress(isForm) {
    new daum.Postcode({
      oncomplete: function (data) {
        var addr = '';
        var extraAddr = '';

        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
          addr = data.roadAddress;
        } else { // 사용자가 지번 주소를 선택했을 경우(J)
          addr = data.jibunAddress;
        }

        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
        if (data.userSelectedType === 'R') {
          if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
            extraAddr += data.bname;
          }
          // 건물명이 있고, 공동주택일 경우 추가한다.
          if (data.buildingName !== '' && data.apartment === 'Y') {
            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
          }
          // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
          if (extraAddr !== '') {
            extraAddr = ' (' + extraAddr + ')';
          }
          addr += ' ' + extraAddr;
        }

        if (isForm) {
          document.getElementById("member-address-form-post").value = data.zonecode;
          document.getElementById("member-address-form-road").value = addr;

          document.getElementById("member-address-form-detail").focus();
          return;
        }
        // 우편번호와 주소 정보를 해당 필드에 넣는다.
        document.getElementById('orderer-post-address').value = data.zonecode;
        document.getElementById("orderer-road-address").value = addr;

        // 커서를 상세주소 필드로 이동한다.
        document.getElementById("orderer-detail-address").focus();
      }
    }).open();
  }
</script>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script th:src="@{/js/coupon/stomp.js}"></script>
<script>
  function showLoadingScreen() {
    const loadingScreen = document.querySelector('#loading');

    loadingScreen.style.display = 'flex';
  }

  function hideLoadingScreen() {
    const loadingScreen = document.querySelector('#loading');

    loadingScreen.style.display = 'none';
  }

  function openSocket(requestId, recipientName, recipientPhoneNumber, expectedShippingDate, orderData,
      productTotalAmount,
      shippingFee, wrappingFee) {

    const socket = new SockJS(`${socketUrl}${SOCKET_PATH}`);
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
      stompClient.subscribe(`/ws/topic/coupon/use/result/${requestId}`,
          function (data) {
            const parsedBody = JSON.parse(data.body);
            const message = parsedBody.success ? parsedBody.message
                : '이 쿠폰은 사용할 수 없습니다.'
            if (!parsedBody.success) {
              alert(message);
              location.reload();
              return;
            }
            console.log(message);
            hideLoadingScreen();
            stompClient.disconnect();
            processingForPay(recipientName, recipientPhoneNumber, expectedShippingDate, orderData, productTotalAmount,
                shippingFee, wrappingFee);
          });
      // alert("쿠폰 발급 완료 및 결제 페이지로 이동")
      stompClient.send(`/shop/coupon/use/result/connect/${requestId}`, {},
          'CONNECT');
    });
  }
</script>

</html>
