<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Yes Aladin!</title>
  <!-- CSS files -->
  <link th:href="@{/css/tabler.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/tabler-flags.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/tabler-payments.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/tabler-vendors.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/demo.min.css}" rel="stylesheet"/>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>

<!-- Tabler Core -->
<script type="text/javascript" th:src="@{/js/tabler.min.js}"></script>
<script type="text/javascript" th:src="@{/js/demo.min.js}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $("input:text[numberOnly]").on("keyup", function() {
      $(this).val($(this).val().replace(/[^0-9]/g,""));
    });
  });
</script>
<div class="wrapper">
  <!-- TODO 1 : HEADER -->
  <div th:replace="~{common/fragments/header :: fragment-header}"></div>

  <!-- TODO 2 : NAV-BAR -->
  <div th:replace="~{common/fragments/navbar :: fragment-nav-bar}"></div>

  <div class="page-wrapper">
    <div th:replace="~{main/order/order-sheet :: order-sheet}"></div>
  </div>

  <!-- TODO 4 : footer -->
  <div th:replace="~{common/fragments/footer :: fragment-footer}"></div>
</div>
<div id="test">asdf</div>
</body>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    var expectedPurchaseAmount = document.getElementById("expected-purchase-amount");

    var priceList = document.getElementsByName("order-product-price");
    var quantityList = document.getElementsByName("order-product-quantity");

    var sum = 0;
    for (let i = 0; i < priceList.size; i++) {
      var price = Number(priceList.get(i).innerText);
      console.log("price : " + price + " ")
      document.getElementById("test").i.innerText="sdf" + priceList.get(i).width;
      var quantity = Number(quantityList.get(i).innerText);

      sum += price * quantity;
    }
    expectedPurchaseAmount.innerText = sum;

    setTotalPrice();
  });
  function setExpectedPurchaseAmount() {

  }
  function setTotalPrice() {
    var expectedPurchaseAmount = document.getElementById("expected-purchase-amount");
    var couponAppliedAmount = document.getElementById("coupon-applied-amount");
    var pointAppliedAmount = document.getElementById("point-applied-amount");
    var totalProductPrice = document.getElementById("total-product-price");
    var shippingFee = document.getElementById("shipping-fee");
    var wrappingFee = document.getElementById("wrapping-check");
    var totalPrice = document.getElementById("total-price");

    var productPrice = parseInt(expectedPurchaseAmount.innerText)
        - parseInt(couponAppliedAmount.value)
        - parseInt(pointAppliedAmount.value);

    if(productPrice == null) productPrice = 0;
    totalProductPrice.innerText = productPrice;

    if(productPrice >= 30000) {
      shippingFee.innerText = "0";
    } else {
      shippingFee.innerText = "3000";
      productPrice += 3000;
    }
    productPrice += parseInt(wrappingFee.value);

    totalPrice.innerText = productPrice;
  }
</script>
</html>
