<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Yes Aladin!</title>
  <!-- CSS files -->
  <link th:href="@{/css/tabler.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/tabler-flags.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/tabler-payments.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/tabler-vendors.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/demo.min.css}" rel="stylesheet"/>

</head>
<body>

<!-- Tabler Core -->
<script type="text/javascript" th:src="@{/js/tabler.min.js}"></script>
<script type="text/javascript" th:src="@{/js/demo.min.js}"></script>


<span sec:authorize="isAuthenticated()" th:with="auth=true"></span>
<span sec:authorize="!isAuthenticated()" th:with="auth=false"></span>
<div class="wrapper">
  <!-- TODO 1 : HEADER -->
  <div th:replace="~{common/fragments/header :: fragment-header}"></div>

  <!-- TODO 2 : NAV-BAR -->
  <div th:replace="~{common/fragments/navbar :: fragment-nav-bar}"></div>

  <div class="page-wrapper">
    <div class="container-md py-4 col-12">
      <!-- 주문 상세 Header -->
      <div class="row row-cards">
        <div class="col-12">
          <div class="text-center mb-4">
            <h1 class="h-auto">주문 상세 조회</h1>
          </div>
        </div>
      </div>
      <!-- 주문 상세 Body -->
      <!-- 주문 상세 Detail -->
      <div class="col-12">
        <!-- 주문 상세 Step -->
        <div class="card card-md">
          <div class="card-body p-0">
            <ul class="steps steps-blue steps-counter m-2">
              <li class="step-item">주문완료</li>
              <li class="step-item">결제대기</li>
              <li class="step-item active">결제완료</li>
              <li class="step-item">배송 준비중</li>
              <li class="step-item ">배송중</li>
              <li class="step-item">배송 완료</li>
            </ul>
          </div>
        </div>
        <!-- 주문 상세 Main -->
        <div class="card card-md">
          <div class="card-body">
            <!-- 주문인/수령인 정보 확인 -->
            <div class="row">
              <!-- 주문인 정보 확인 -->
              <div class="col-6">
                <h3 class="card-title fs-2">주문인 정보 확인</h3>
                <div class="card card-md">
                  <div class="card-body p-2">

                    <div class="m-auto">
                      <div>
                        <span class="fs-3 fw-normal">주문자 : </span>
                        <span class="fs-3 fw-bolder">김최이</span>
                      </div>
                      <div>
                        <span class="fs-3 fw-normal">전화번호 : </span>
                        <span class="fs-3 fw-bolder">12214231</span>
                      </div>
                      <div>
                        <span class="fs-3 fw-normal"> </span>
                        <span class="fs-3 fw-bolder"> </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- 수령인 정보 확인 -->
              <div class="col-6">
                <h3 class="card-title fs-2">수령인 정보 확인</h3>
                <div class="card card-md">
                  <div class="card-body p-2">
                    <div class="m-auto">
                      <div>
                        <span class="fs-3 fw-normal">수령인 : </span>
                        <span class="fs-3 fw-bolder">김최이</span>
                      </div>
                      <div>
                        <span class="fs-3 fw-normal">전화번호 : </span>
                        <span class="fs-3 fw-bolder">12214231</span>
                      </div>
                      <div>
                        <span class="fs-3 fw-normal">배송지 : </span>
                        <span class="fs-3 fw-bolder">광주</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <h3 class="card-title fs-2">주문 정보</h3>
            <div class="card-body">
              <h3 class="card-title fs-3">상품 정보</h3>
              <div class="card card-md">
                <div class="table-responsive">
                  <table class="table table-vcenter text-center scrollable scroll-x">
                    <thead>
                    <tr>
                      <th class="w-1"></th>
                      <th class="fs-4">상품번호</th>
                      <th class="fs-4">상품명</th>
                      <th class="fs-4">가격</th>
                      <th class="fs-4">수량</th>
                      <th class="fs-4">적립포인트</th>
                      <th class="fs-4">합계</th>
                    </tr>
                    </thead>
                    <!--                    <tbody th:each="product:${info.orderProducts}">-->
                    <!--                    <tr>-->
                    <!--                      <td th:text="${productStat.index + 1}"></td>-->
                    <!--                      <td th:text="${product.isbn}">-->
                    <!--                        <input type="hidden" name="isbn" th:value="${product.isbn}">-->
                    <!--                      </td>-->
                    <!--                      <td th:text="${product.title}"></td>-->
                    <!--                      <td>-->
                    <!--                        <del class="fs-6"-->
                    <!--                             th:text="${#numbers.formatInteger(product.actualPrice, 1, 'COMMA')}">-->
                    <!--                        </del>-->
                    <!--                        <span class="text-danger"-->
                    <!--                              th:id="${'order-product-price-' + productStat.index}"-->
                    <!--                              th:text="${#numbers.formatInteger(product.getSalePrice(), 1, 'COMMA')}">-->
                    <!--                          </span>-->
                    <!--                      </td>-->
                    <!--                      <td th:text="${product.expectedPoint}"></td>-->
                    <!--                      <td th:id="${'order-product-quantity-' + productStat.index}"-->
                    <!--                          th:text="${product.quantity}">-->
                    <!--                        <input type="hidden" name="quantity" th:value="${product.quantity}">-->
                    <!--                      </td>-->
                    <!--                      <td>-->
                    <!--                        &lt;!&ndash;회원 : 쿠폰 사용 &ndash;&gt;-->
                    <!--                        <div sec:authorize="isAuthenticated()">-->
                    <!--                          &lt;!&ndash;TODO 개별 쿠폰 적용하기&ndash;&gt;-->
                    <!--                          <button sec:authorize="isAuthenticated()" type="button"-->
                    <!--                                  class="btn btn-outline-secondary btn-sm float-end">-->
                    <!--                            쿠폰 적용-->
                    <!--                          </button>-->
                    <!--                          <span hidden="hidden">-->
                    <!--                              <button type="button" class="btn btn-outline-danger btn-sm float-end">-->
                    <!--                                쿠폰 취소-->
                    <!--                              </button>-->
                    <!--                              <span name="order-product-price">할인된 금액</span>-->
                    <!--                            </span>-->
                    <!--                        </div>-->
                    <!--                        &lt;!&ndash;비회원&ndash;&gt;-->
                    <!--                        <span sec:authorize="!isAuthenticated()">사용불가</span>-->
                    <!--                      </td>-->
                    <!--                    </tr>-->
                    <!--                    </tbody>-->
                  </table>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h3 class="card-title fs-3">가격 정보</h3>
              <div class="card card-md">
                <div class="table-responsive">
                  <table
                      class="table table-vcenter text-center scroll-x">
                    <thead>
                    <tr>
                      <th class="w-1"></th>
                      <th class="fs-4">주문내역</th>
                      <th class="fs-4">상품금액</th>
                      <th class="fs-4">할인금액</th>
                      <th class="fs-4">배송비/포장비</th>
                      <th class="fs-4">결제금액</th>
                    </tr>
                    </thead>
<!--                    <tbody>-->
<!--                    <tr>-->
<!--                      <td></td>-->
<!--                      <td>-->
<!--                      <span class="col-12 fs-3 fw-bolder text-truncate"-->
<!--                            style="max-width: 190px;" th:text="${data.orderName}">-->
<!--                        알라라라딘dddddd 외 2445권</span>-->
<!--                      </td>-->
<!--                      <td class="fs-3 fw-bold"-->
<!--                          th:text="|${#numbers.formatInteger(data.productAmount, 1, 'COMMA')}원|">-->
<!--                        100,000원-->
<!--                      </td>-->
<!--                      <td class="fs-3 fw-bold text-orange"-->
<!--                          th:text="|-${#numbers.formatInteger(data.discountAmount, 1, 'COMMA')}원|">-->
<!--                        10,000원-->
<!--                      </td>-->
<!--                      <td class="fs-3 fw-bold text-orange"-->
<!--                          th:text="|${#numbers.formatInteger(data.shippingFee, 1, 'COMMA')}원/${#numbers.formatInteger(data.wrappingFee, 1, 'COMMA')}원|">-->
<!--                        90,000원-->
<!--                      </td>-->
<!--                      <td class="fs-3 fw-bolder"-->
<!--                          th:text="|${#numbers.formatInteger(data.totalAmount, 1, 'COMMA')}원|">90,000원-->
<!--                      </td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
                  </table>
                </div>
              </div>
            </div>
            <hr>
            <div class="card-body">
              <h3 class="card-title fs-2">결제 정보</h3>
              <div class="m-auto">
<!--                <div th:if="${#strings.equals(response.method,'카드')}">-->
<!--                  <div>-->
<!--                    <span class="fs-3 fw-normal">결제 수단 : </span>-->
<!--                    <span class="fs-3 fw-bolder" th:text="${response.method}">카드</span>-->
<!--                    <span class="fs-3" > / </span>-->
<!--                    <span class="fs-3 fw-bolder" th:text="${response.cardOwnerCode}">개인</span>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <span class="fs-3 fw-normal">결제 정보 : </span>-->
<!--                    <span class="fs-3 fw-bolder" th:text="${response.cardAcquirerCode}">비씨카드</span>-->
<!--                    <span class="fs-3" > / </span>-->
<!--                    <span class="fs-3 fw-bolder" th:text="${response.cardNumber}">비씨카드</span>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <span class="fs-3 fw-normal">결제 승인 번호 : </span>-->
<!--                    <span class="fs-3 fw-bolder" th:text="${response.cardApproveNumber}">1231</span>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <span class="fs-3 fw-normal">결제 금액 : </span>-->
<!--                    <span class="fs-3 fw-bolder"  th:text="${#numbers.formatInteger(response.totalAmount,3,'COMMA') + '원'}">1231</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div th:if="${#strings.equals(response.method,'간편결제')}">-->
<!--                  <div>-->
<!--                    <span class="fs-3 fw-normal">결제 수단 : </span>-->
<!--                    <span class="fs-3 fw-bolder" th:text="${response.method}">간편결제</span>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <span class="fs-3 fw-normal">결제 정보 (제공사) : </span>-->
<!--                    <span class="fs-3 fw-bolder" th:text="${response.easyPayProvider}">비씨카드</span>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <span class="fs-3 fw-normal">결제 금액 : </span>-->
<!--                    <span class="fs-3 fw-bolder"  th:text="${#numbers.formatInteger(response.easyPayAmount,1,'COMMA') + '원'}">1231</span>-->
<!--                  </div>-->
<!--                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TODO 4 : footer -->
<div th:replace="~{common/fragments/footer :: fragment-footer}"></div>


<div class="d-none" id="shop-server-url"
     th:data-url="${@environment.getProperty('yesaladin.gateway.shop')}"></div>
<div class="d-none" id="front-server-url"
     th:data-url="${@environment.getProperty('yesaladin.front.url')}"></div>
</body>

</html>
