<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body th:fragment="fragment-side-bar">
<ul class="nav nav-tabs flex-lg-column" role="tablist">
  <h3 class="navbar-text" style="margin-bottom: 0; padding-top: 5px; padding-bottom: 0">
    <a href="/mypage">| 기본 정보</a></h3>
  <li class="nav-item"><a class="nav-link" href="/interest" role="tab">관심상품</a></li>
  <hr style="margin:0">

  <h3 class="navbar-text" style="margin-bottom: 0; padding-top: 5px; padding-bottom: 0">
    <a href="#">| 주문 내역</a></h3>
  <li class="nav-item"><a class="nav-link" href="/mypage/orders" role="tab">주문 조회/변경/취소</a></li>
<!--  <li class="nav-item"><a class="nav-link" href="#" role="tab">반품/교환/취소 내역</a></li>-->
<!--  <li class="nav-item"><a class="nav-link" href="#" role="tab">환불 내역</a></li>-->
<!--  <li class="nav-item"><a class="nav-link" href="#" role="tab">E-Book 구매목록</a></li>-->
<!--  <li class="nav-item"><a class="nav-link" href="#" role="tab">정기배송 목록</a></li>-->
  <hr style="margin:0">

<!--  <h3 class="navbar-text" style="margin-bottom: 0; padding-top: 5px; padding-bottom: 0">-->
<!--    <a href="#">| 재입고 알림 신청 도서목록</a></h3>-->
<!--  <hr style="margin:0">-->


<!--  <h3 class="nav-item" style="margin-bottom: 0; padding-top: 5px; padding-bottom: 0">-->
<!--    <a href="#">| 고객 센터</a></h3>-->
<!--  <li class="nav-item"><a class="nav-link" href="#" role="tab">1:1 문의</a></li>-->
<!--  <li class="nav-item"><a class="nav-link" href="#" role="tab">1:1 채팅</a></li>-->
<!--  <li class="nav-item"><a class="nav-link" href="#" role="tab">상품 문의</a></li>-->
<!--  <li class="nav-item"><a class="nav-link" href="#" role="tab">불량상품 신고</a></li>-->
<!--  <li class="nav-item"><a class="nav-link" href="#" role="tab">내상품평</a></li>-->
<!--  <hr style="margin:0">-->
<!--  <h3 class="nav-item" style="margin-bottom: 0; padding-top: 5px; padding-bottom: 0">-->
<!--    <a href="#">| 고객 서비스</a></h3>-->
<!--  <li class="nav-item"><a class="nav-link" href="#" role="tab">FAQ</a></li>-->
<!--  <li class="nav-item"><a class="nav-link" href="#" role="tab">공지사항</a></li>-->
<!--  <li class="nav-item"><a class="nav-link" href="#" role="tab">고객센터 안내</a></li>-->
<!--  <hr style="margin:0">-->
  <h3 class="nav-item" style="margin-bottom: 0; padding-top: 5px; padding-bottom: 0">
    <a href="#">| 계정 관리</a></h3>
  <li class="nav-item"><a class="nav-link" href="/mypage/edit" role="tab">회원 정보 수정</a></li>
  <li class="nav-item"><a class="nav-link" href="/mypage/address" role="tab">배송지 관리</a></li>
  <li class="nav-item"><a class="nav-link" href="/mypage/withdraw" role="tab">회원 탈퇴</a></li>
</ul>
</body>
</html>
