<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body th:fragment="fragment-sidebar-vertical">
<style>
    .nav-link.active {
    /* TODO active 색상 및 크기 변경 가능   */
    }
</style>
<div class="col-xl-3 col-lg-3 mb-4 bg-secondary-lt" >
    <div class="container-fluid">
        <ul class="nav nav-tabs flex-lg-column" role="tablist">
            <li class="nav-item">
                <a class="nav-link" href="index.html" role="tab">Getting Started</a>
                <div class="container-fluid">
                    <ul class="nav nav-tabs flex-lg-column" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" href="updating.html" role="tab">Updating the Theme</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="gulp.html" role="tab">Gulp1</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link" href="gulp.html" role="tab">Gulp2</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="file-structure.html" role="tab">File Structure</a>
                <div class="container-fluid">
                    <ul class="nav nav-tabs flex-lg-column" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" href="updating.html" role="tab">Updating the Theme</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="gulp.html" role="tab">Gulp1</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link" href="gulp.html" role="tab">Gulp2</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="active nav-link" href="gulp.html" role="tab">Gulp</a>
                <div class="container-fluid">
                    <ul class="nav nav-tabs flex-lg-column" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" href="updating.html" role="tab">Updating the Theme</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="gulp.html" role="tab">Gulp1</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link" href="gulp.html" role="tab">Gulp2</a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </div>
</div>


<!--</div>-->
<script>
    window.addEventListener('DOMContentLoaded', function()
    {
        const li = document.getElementsByClassName('nav-item');
        for (let i = 0; i < li.length; i++) {
            const item = li.item(i);
            if (item.classList.contains('active')) {
                item.classList.remove('active');
            }
        }

        if ('/manager/' === window.location.pathname) {
            document.getElementById('home').classList.add('active');
            return;
        }

        const dropdown = document.getElementsByClassName('dropdown-item');
        for (let i = 0; i < dropdown.length; i++) {
            const item = dropdown.item(i);
            if (item.href === window.location.href.split('?')[0]) {
                item.parentNode.parentNode.parentNode.parentElement.classList.add('active');
            }
        }
    });
</script>
</body>
</html>
