<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
    1. Download SVG icon : http://tabler-icons.io/i/home
    2. Navigation Bar 틀
        HOME : 기본 버튼
        PRODUCT : 토글 기능이 추가된 버튼(1 depth 와 2 depth 를 나누는 방법은 자유롭게)
-->
<!-- TODO 0 : 관리자용 또는 사용자용으로 카테고리 항목 구분하기 -->
<body th:fragment="fragment-nav-bar">
<div class="navbar-expand-md">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar navbar-light">
            <div class="container-xl">
                <ul class="navbar-nav">
                    <!-- TODO 1 : HOME  -->
                    <li class="nav-item active">
                        <a class="nav-link"
                           href="./index.html">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                     viewBox="0 0 24 24"
                                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                     stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <polyline points="5 12 3 12 12 3 21 12 19 12"/>
                                    <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/>
                                    <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/>
                                </svg>
                            </span>
                            <span class="nav-link-title">Home</span>
                        </a>
                    </li>
                    <!-- TODO 2 : Product  -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-auto-close="outside" role="button"
                           aria-expanded="false" data-bs-toggle="dropdown"
                           href="#navbar-base">

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                     viewBox="0 0 24 24"
                                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                     stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3"/>
                                    <line x1="12" y1="12" x2="20" y2="7.5"/>
                                    <line x1="12" y1="12" x2="12" y2="21"/>
                                    <line x1="12" y1="12" x2="4" y2="7.5"/>
                                    <line x1="16" y1="5.25" x2="8" y2="9.75"/></svg>
                            </span>
                            <span class="nav-link-title">Interface</span>
                        </a>
                        <!-- TODO 2-1 : 카테고리 작성하기 -->
                        <div class="dropdown-menu">
                            <div class="dropdown-menu-columns">
                                <!-- TODO 2-2 : 카테고리 1 DEPTH* <a> 로 1Depth 카테고리 작성-->
                                <div class="dropdown-menu-column">
                                    <a class="dropdown-item" href="./empty.html">
                                        Empty page
                                    </a>
                                </div>
                                <div class="dropdown-menu-column">
                                    <!-- TODO 2-3 : 카테고리 2 DEPTH
                                        * js로 doc 건드려서 데이터 동적 추가 바람-->
                                    <a class="dropdown-item" href="./navigation.html">
                                        Navigation
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- TODO 3 : 검색 도구 (옵션) -->
                <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
                    <form action="." method="get">
                        <div class="input-icon">
                            <span class="input-icon-addon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                     stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="10" cy="10" r="7"/>
                                    <line x1="21" y1="21" x2="15" y2="15"/>
                                </svg>
                            </span>
                            <input type="text" class="form-control" placeholder="Search…" aria-label="Search in website">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>