<div class="col-md-9 col-lg-8">
  <!--        TODO 3 :  Body          -->
  <div>
    <h2 class="display-6 fw-bold">전체 주문 조회</h2>
  </div>
  <div class="page-header d-print-none">
    <div class="card p-3">
      <!--   TODO 주문 조회 상단 기간 설정 헤더                          -->
      <div class="card-header">
        <form class="row g-3 align-items-center">
          <div class="col-auto">
            <span class="form-label d-lg-inline fs-3">기간별 조회</span>
          </div>
          <div class="col-auto">
            <div class="btn-group w-100" role="group">
              <input type="radio" class="btn-check" name="btn-radio-basic" id="btn-radio-basic-1" autocomplete="off" checked="">
              <label for="btn-radio-basic-1" type="button" class="btn">1주일</label>
              <input type="radio" class="btn-check" name="btn-radio-basic" id="btn-radio-basic-2" autocomplete="off">
              <label for="btn-radio-basic-2" type="button" class="btn">15일</label>
              <input type="radio" class="btn-check" name="btn-radio-basic" id="btn-radio-basic-3" autocomplete="off">
              <label for="btn-radio-basic-3" type="button" class="btn">1달</label>
            </div>
          </div>
          <div class="col-auto">
            <label class="form-label d-lg-inline fs-1 "> </label>
          </div>
          <div class="col-auto ">
            <label class="form-label d-lg-inline fs-3">지정 일자 조회</label>
          </div>
          <div class="col-auto">
            <input class="form-control fs-6" type="date" name="order-expected-date"
                   th:max="${#calendars.format( #calendars.createNow(), 'yyyy-MM-dd')}"
                   id="datepicker-pre">
          </div>
          <div class="col-auto">
            <span class="form-label d-lg-inline fs-3">~</span>
          </div>
          <div class="col-auto">
            <input class="form-control fs-6" type="date" name="order-expected-date"
                   th:min="${#calendars.format( #calendars.createNow(), 'yyyy-MM-dd')}"
                   id="datepicker-fut">
          </div>
          <div class="col-auto">
            <a href="#" class="btn btn-vk w-100">
              검색
            </a>
          </div>
        </form>
      </div>
      <div class="card-body">
        <table class="table text-center">
          <thead>
          <tr>
            <th class="w-5" scope="col">주문번호</th>
            <th class="w-auto" scope="col">주문일자</th>
            <th class="w-25" scope="col">주문내역</th>
            <th class="w-auto" scope="col">주문금액</th>
            <th class="w-auto" scope="col">주문상태</th>
            <th class="w-5" scope="col">주문자</th>
            <th class="w-5" scope="col">조회</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">
          <!--        TODO : 테이블 내용 중앙 배치                            -->
          <tr th:each="data: ${dataList}">
            <td th:text="${data.getOrderNumber()}"></td>
            <td th:text="${data.getOrderDate()}"></td>
            <td class="text-start">
              <div class="row-cols-2">
                <p class="col-12 d-inline-block text-truncate"
                   th:text="${data.getOrderName()}"
                   style="max-width: 140px;">
                </p>
                <p class="col-12 d-inline-block text-truncate"
                   style="max-width: 140px;">
                  <span>등</span>&nbsp;
                  <span th:text="${data.getCategoryCount()}">228</span>
                  <span>종</span>&nbsp;
                  <span th:text="${data.getProductCount()}">2445</span>
                  <span>권</span>
                </p>
              </div>
            </td>
            <td>
                                                    <span class="d-inline-block text-truncate"
                                                          style="max-width: 100px;" th:text="${data.getAmount()}">
                                                        222,500
                                                    </span>
            </td>
            <td class="text-orange" th:text="${data.getDeliveryStatus()}"></td>
            <td class="fw-bold" th:text="${data.getOrderMember()}"></td>
            <td>
              <div>
                <a href="#" th:value="${data.getOrderId()}" class="btn btn-outline-dark w-full fs-5 fw-bolder m-1">
                  주문상세조회
                </a>
                <a href="#" th:value="${data.getOrderId()}" class="btn btn-outline-dark w-full fs-5 fw-bolder m-1">
                  배송조회
                </a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div
          th:replace="~{common/utils/paging :: paging('/mypage/orders', ${code == null ? '' : '&code=' + code})}">
      </div>
    </div>
  </div>
</div>