<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body th:fragment="fragment-manager-header">
  <div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          HOME
        </div>
        <h2 class="page-title">
          관리자 페이지
        </h2>
        <div class="page-pretitle">
          간단한 통계를 제공합니다.
        </div>
      </div>

    </div>
  </div>
</div>
</body>

</html>
