<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Yes Aladin! - 회원 통계</title>
  <!-- CSS files -->
  <link th:href="@{/css/tabler.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/tabler-flags.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/tabler-payments.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/tabler-vendors.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/demo.min.css}" rel="stylesheet"/>
</head>
<body>
<!-- Libs JS -->
<script type="text/javascript" th:src="@{/libs/apexcharts/dist/apexcharts.min.js}"></script>
<!-- Tabler Core -->
<script type="text/javascript" th:src="@{/js/tabler.min.js}"></script>
<script type="text/javascript" th:src="@{/js/demo.min.js}"></script>
<div class="wrapper">
  <!-- NAV-BAR -->
  <div th:replace="~{manager/fragments/navbar-vertical :: fragment-nav-vertical}"></div>

  <!-- HEADER -->
  <div class="page-wrapper">
    <div th:replace="~{common/fragments/header :: fragment-header}"></div>
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <!-- Page pre-title -->
            <div class="page-pretitle">
              통계
            </div>
            <h2 class="page-title">
              회원 통계
            </h2>
          </div>
        </div>
      </div>
    </div>

    <!-- TODO 3: BODY -->
    <div class="page-body">
      <div class="container-xl">
        <div class="row row-deck row-cards">
          <div class="col-12">
            <div class="card">
              <div class="card-header row">
                <h3 class="card-title col-md-2">회원 현황</h3>
                <div class="col-md-4">
                  <text>회원 수 : </text>
                  <span th:text="${statistics.totalMembers}"></span><br/>
                  <text>차단 회원 수 : </text>
                  <span th:text="${statistics.totalBlockedMembers}"></span><br/>
                  <text>탈퇴 회원 수 : </text>
                  <span th:text="${statistics.totalWithdrawMembers}"></span>
                </div>
              </div>
              <div class="card-header row">
                <h3 class="card-title col-md-2">등급별 현황</h3>
                <div class="col-md-4">
                  <text>화이트 등급 회원 수 : </text>
                  <span th:text="${statistics.totalWhiteGrades}"></span><br/>
                  <text>브론즈 등급 회원 수 : </text>
                  <span th:text="${statistics.totalBronzeGrades}"></span><br/>
                  <text>실버 등급 회원 수 : </text>
                  <span th:text="${statistics.totalSilverGrades}"></span><br/>
                  <text>골드 등급 회원 수 : </text>
                  <span th:text="${statistics.totalGoldGrades}"></span><br/>
                  <text>플래티넘 등급 회원 수 : </text>
                  <span th:text="${statistics.totalPlatinumGrades}"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TODO 4 : footer -->
      <div th:replace="~{common/fragments/footer :: fragment-footer}"></div>
  </div>
</div>
</body>
</html>